<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.suhel.photosphere">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".application.instance.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <service
            android:name=".application.instance.SimpleFirebaseInstanceIdService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <service
            android:name=".application.instance.SimpleFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />

        <activity
            android:name=".screens.login.view.LoginActivity"
            android:configChanges="screenSize|orientation"
            android:theme="@style/AppTheme.TransparentStatus" />

        <activity
            android:name=".screens.home.view.HomeActivity"
            android:configChanges="screenSize|orientation"
            android:theme="@style/AppTheme.TransparentStatus">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".screens.comments.view.CommentsActivity"
            android:configChanges="screenSize|orientation"
            android:label="@string/title_comments" />

        <activity
            android:name=".screens.createPost.view.CreatePostActivity"
            android:configChanges="screenSize|orientation"
            android:label="Create New Post"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".screens.editPost.view.EditPostActivity"
            android:configChanges="screenSize|orientation"
            android:label="Edit Post"
            android:windowSoftInputMode="adjustResize" />

    </application>

</manifest>